# 환경 변수 샘플

# AI 구조화를 위해 CLOVA API 키를 여기에 입력하세요.
CLOVA_API_KEY=

## 로컬 DB 설정
DATABASE_URL=mysql://app_user:password@localhost:3306/murphy_db
DB_HOST=localhost
DB_PORT=3306
DB_ROOT_PASSWORD=dopamine
DB_NAME=murphy_db
DB_USERNAME=app_user
DB_PASSWORD=password

REDIS_PORT=6379
REDIS_PASSWORD=password

## shadow DB 설정
SHADOW_DATABASE_URL=mysql://app_user:password@localhost:3306/murphy_shadow_db

## OAuth 설정
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

NEXTAUTH_SECRET=

NEXTAUTH_URL=http://localhost:3000

## 배포 주소 (robots.txt / sitemap.xml 생성에 사용)
BASE_URL=http://localhost:3000